extends _layout.pug

block css
  link(href='css/index.css' rel='stylesheet')

block modal

block content
  .test
    p popup
    p popup
    p popup
    p popup
    p popup
    p popup
    p popup
    p popup
    p popup
    p popup
    p popup
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123
  p 123

block js
  script(src="js/index.js")