extends _layout.pug

block css
  //- link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css' rel='stylesheet')
  //- link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' rel='stylesheet')
  link(href='css/line.css' rel='stylesheet')

block modal

block content
  h1 LINE

block js
  script(src="js/line.js")