@import '_variables.sass'

html, body, .container, .wrapper
  background-color: pink !important

.test
  position: fixed
  bottom: 0
  left: 0
  right: 0
  background-color: aqua
  // height: 300px
  z-index: 10
  padding: 15px