extends _layout.pug

block css
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.3/theme-chalk/index.css' rel='stylesheet')
  //- link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' rel='stylesheet')
  link(href='css/demo.css' rel='stylesheet')

block modal
  ud-modal(v-model="isModalShow" mask-close btn-close)
    h1 通用彈窗
    ud-ratio(src="img/02.jpg", alt="")
    br
    ud-button(@click="isModalShow = false" plain) 關閉

block content
  .test-area
    .title TEST
    p LIFF: {{ liffStatus }}
    p sessionStorage: {{ sessionStorage }}
    p localStorage: {{ localStorage }}
    ud-button(@click="setItem") setItem
    ud-button(@click="removeItem") removeItem
    ud-button(@click="location.href = 'https://www.google.com.tw/'") Google

  .demo-area
    .title DEMO
    ud-button(@click="test") TEST
    ud-form(:rules="rules" :model="user" ref="form")
      ud-form-item(label="姓名" prop="name" flex)
        ud-input(placeholder="請輸入您的姓名" v-model="user.name")
      ud-form-item(label="備註" prop="note" flex)
        ud-textarea(placeholder="請輸入您的備註" v-model="user.note" show-limit :limit="10")
      ud-form-item(label="年齡" prop="age" flex)
        ud-input(placeholder="請輸入您的年齡" v-model="user.age" type="tel")
      ud-form-item(label="生日" prop="birthday" flex)
        ud-input(placeholder="請輸入您的生日" v-model="user.birthday")
      ud-form-item(label="單選" prop="radio" flex)
        ud-radio(v-model="user.radio" :options="options" flex)
      ud-form-item(label="多選" prop="checkbox" flex)
        ud-checkbox(v-model="user.checkbox" :options="options" flex)
      ud-form-item(label="下拉" prop="select" flex)
        ud-select(v-model="user.select" :options="options" flex center)
      ud-form-item(label="下拉連動" prop="selectLink" flex)
        ud-select-link(v-model="user.selectLink" :options="storeOptions" :placeholder="['縣市', '行政區', '分店']" flex third)
      ud-form-item(label="下拉連動(獨立)" prop="selectLinkSp")
        .d-flex
          ud-select(v-model="user.selectLinkSp[0]" :options="storeOptions" :group="user.selectLinkSp" :index="0" placeholder="請選擇縣市")
          ud-select(v-model="user.selectLinkSp[1]" :options="storeOptions" :group="user.selectLinkSp" :index="1" placeholder="請選擇店點")
          ud-select(v-model="user.selectLinkSp[2]" :options="storeOptions" :group="user.selectLinkSp" :index="2" placeholder="請選擇日期")
      ud-form-item(label="地址" prop="twzip" flex)
        ud-select-twzip(ref="zip" v-model="user.twzip" flex)
      ud-form-item(label="預約日期" prop="date" flex)
        ud-select-date(v-model="user.date" flex third roc)
          p 年
          p(slot="second") 月
          p(slot="third") 日
      ud-form-item(label="是否啟用" prop="isActive" flex)
        ud-switch(v-model="user.isActive")
      ud-form-item(label="" prop="isAgree")
        ud-checkbox(v-model="user.isAgree" options="我同意使用者條款" solid)
        ud-checkbox(v-model="user.isAgree")
          p 我同意#[a(href="https://www.google.com.tw/") 使用者條款]
      ud-form-item(label="驗證碼" prop="captcha" flex)
        .captcha-wrapper
          ud-input(v-model="user.captcha" placeholder="驗證碼" maxlength="4")
          ud-captcha(v-model="user.captchaCode")
      div(style="margin-bottom: 60px")

      ud-button(@click="formSubmit") 送出表單
      ud-button(@click="isCollapse = !isCollapse") 摺疊容器&nbsp
        ud-arrow(color="#fff" :size="4" :width="2" :direction="isCollapse ? 'up' : 'down'")
      ud-collapse(v-model="isCollapse" :duration="0.4")
        ud-ratio(src="img/01.jpg" bg-size="contain")
      ud-button(@click="alert()") Alert
      ud-button(@click="isModalShow = true") Model

      ud-html(text="<i>用戶</i>自定\n<h3>義訊息</h3>")
      br
      ud-ellipsis(:max-line="2") 文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略
      br
      ud-countdown(:time="120" @timeup="timeup()" type="minute")
block js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.3/index.js')
  script(src="js/demo.js")