extends _layout.pug

block css
  //- link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' rel='stylesheet')
  //- link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.3/theme-chalk/index.css' rel='stylesheet')
  //- link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' rel='stylesheet')
  link(href='css/demo.css' rel='stylesheet')

block modal
  ud-modal(v-model="isModalShow" mask-close btn-close)
    h1 通用彈窗
    ud-ratio(src="img/02.jpg", alt="")
    br
    ud-button(@click="isModalShow = false" plain) 關閉

block content
  .test-area
    //- .btn-wrapper
    //-   ud-button(@click="clearVerify" plain) 清除驗證
    //-   ud-button(@click="submitVerify") 送出表單
    ud-button(@click="test") TEST

  .liff-area
    .liff-wrapper
      ud-ratio(:src="profile.pictureUrl", alt="")
      .profile-wrapper
        h6 {{ profile.displayName }}
        p {{ profile.userId }}
        p {{ profile.info }}
    .btn-wrapper
      ud-button(@click="sendMessage" plain) 傳送訊息
      ud-button(@click="shareTargetPicker") 好友分享

  .form-area
    ud-form(:rules="rules" :model="formData" ref="form")
      ud-form-item(label="姓名" prop="name" flex)
        ud-input(v-model.trim="formData.name" placeholder="請輸入您的姓名")
      ud-form-item(label="電話" prop="phone" flex)
        ud-input(v-model.trim="formData.phone" placeholder="請輸入您的手機號碼" inputmode="tel" maxlength="10")
      ud-form-item(label="Email" prop="email" flex)
        ud-input(v-model.trim="formData.email" placeholder="請輸入您的Email" inputmode="email")
      ud-form-item(label="年齡" prop="age" flex)
        ud-input(v-model.trim="formData.age" placeholder="請輸入您的年齡" inputmode="numeric")
      ud-form-item(label="生日" prop="birthday" flex)
        ud-input(v-model.trim="formData.birthday" placeholder="請輸入您的生日")
      ud-form-item(label="備註" prop="note" flex)
        ud-textarea(placeholder="請輸入您的備註" v-model="formData.note" show-limit :limit="10")
      ud-form-item(label="單選" prop="radio" flex)
        ud-radio(v-model="formData.radio" :options="options" flex)
      ud-form-item(label="多選" prop="checkbox" flex)
        ud-checkbox(v-model="formData.checkbox" :options="options" flex)
      ud-form-item(label="下拉" prop="select" flex)
        ud-select(v-model="formData.select" :options="options" flex center @change="test")
      ud-form-item(label="下拉連動" prop="selectGroup" flex)
        .d-flex
          ud-select(v-model="formData.selectGroup[0]" :options="storeOptions" :group="formData.selectGroup" :index="0" placeholder="縣市")
          ud-select(v-model="formData.selectGroup[1]" :options="storeOptions" :group="formData.selectGroup" :index="1" placeholder="櫃點")
          ud-select(v-model="formData.selectGroup[2]" :options="storeOptions" :group="formData.selectGroup" :index="2" placeholder="時段")
      ud-form-item(label="下拉連動" prop="selectLink" flex)
        ud-select-link(v-model="formData.selectLink" :options="storeOptions" :placeholder="['縣市', '櫃點', '時段']" flex third)
      ud-form-item(label="預約日期" prop="date" flex)
        ud-select-date(v-model="formData.date" flex third roc)
          p 年
          p(slot="second") 月
          p(slot="third") 日
      ud-form-item(label="地址" prop="twzip" flex)
        ud-select-twzip(ref="zip" v-model="formData.twzip" flex)
      ud-form-item(label="是否啟用" prop="isActive" flex)
        ud-switch(v-model="formData.isActive")
      ud-form-item(label="驗證碼" prop="captcha" flex)
        .captcha-wrapper
          ud-input(v-model="formData.captcha" placeholder="驗證碼" maxlength="4")
          ud-captcha(v-model="formData.captchaCode")
      ud-form-item(label="" prop="isAgree")
        ud-checkbox(v-model="formData.isAgree" options="我同意使用者條款" solid)
        ud-checkbox(v-model="formData.isAgree")
          p 我同意#[a(href="https://www.google.com.tw/") 使用者條款]
      .btn-wrapper
        ud-button(@click="clearVerify" plain) 清除驗證
        ud-button(@click="submitVerify") 送出表單

  .module-area
    .btn-wrapper
      ud-button(@click="alert()") Alert
      ud-button(@click="isModalShow = true") Model

    ud-button(@click="isCollapse = !isCollapse") 摺疊容器
      ud-arrow(color="#fff" :size="4" :width="2" :direction="isCollapse ? 'up' : 'down'")
    ud-collapse(v-model="isCollapse" :duration="0.4")
      ud-ratio(src="img/01.jpg" bg-size="contain")

    ud-html(text="<i>用戶</i>自定\n<h3>義訊息</h3>")
    br
    ud-ellipsis(:max-line="2") 文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略文字省略
    br
    ud-countdown(ref="countdown" :time="120" @timeup="timeup" type="minute")

block js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.3/index.js')
  script(src="js/demo.js")