extends _layout.pug

block css
  link(href='css/iframe.css' rel='stylesheet')

block modal

block content
  .close(@click="close()")
    p ✕
  img(src="img/game.jpg", alt="")

block js
  script(src="js/iframe.js")