extends _layout.pug

block css
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.3/theme-chalk/index.css' rel='stylesheet')
  //- link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' rel='stylesheet')
  link(href='css/liff.css' rel='stylesheet')

block modal

block content
  h1 LIFF
  p displayName: {{ profile.displayName }}
  img(:src="profile.pictureUrl", alt="")
  p userId: {{ profile.userId }}

block js
  script(src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.3/index.js')
  script(src="js/liff-login.js")
  script(src="js/liff.js")